.login-form{
    height:600px;
}

.login-box {
    border: 1px solid #aeaeb8;
    border-radius: 10px;
    padding: 3%;
    margin:auto;
}

.login-box-parent {
    display: flex;
}

.submit-button {
    float: right;
    margin-right: 2%;
}

.invalid-feedback {
    width: 100%;
    color: red;
}

.password {
    margin-top:2%;
}

.sign-in {
    margin-top:2%;
}