<div class="jumbotron login-form">
    <div class="container">
        <div class="row login-box-parent">
            <!--Login Form-->
            <div class="col-lg-6 login-box">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <label for="exampleFormControlInput1">Customer ID</label>
                    <input type="text" class="form-control" name="customerid" [(ngModel)]="model.customerid"
                        #customerid="ngModel" [ngClass]="{ 'is-invalid': f.submitted && customerid.invalid }"
                        required />
                    <div *ngIf="f.submitted && customerid.invalid" class="invalid-feedback">
                        <div *ngIf="customerid.errors?.required">First Name is required</div>
                    </div>

                    <label for="exampleFormControlInput1" class="password">Password</label>
                    <input type="text" class="form-control" name="password" [(ngModel)]="model.password"
                        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors?.required">Password is required</div>
                    </div>

                    <div class="form-group row sign-in">
                        <span class="submit-button col-lg-2">                            
                            <button class="btn btn-primary">Sign In</button>
                        </span>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>