<div class="container">
  <div class="form-layout">
    <!-- Page Header -->
    <div class="form-header text-center">
      <h2>Transfer Funds</h2>
    </div>
    <div class=" row justify-content-center" *ngIf="error">
      <div class="col-6">
        <div class="alert alert-danger" >
          <p>{{errorMsg}}</p>
        </div>
      </div>
    </div>
    <div class=" row justify-content-center" *ngIf="success">
      <div class="col-6">
        <div class="alert alert-success" >
          <p>{{successMsg}}</p>
        </div>
      </div>
    </div>
    <!-- Fund transfer Form -->
    <form [formGroup]="fundTransferFrom" (ngSubmit)="confirm()">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Origin Account" formControlName="from_account">
            <div *ngIf="fudTransferFormControls.from_account.touched && fudTransferFormControls.from_account.invalid" class="alert alert-danger">
              <div *ngIf="fudTransferFormControls.from_account.errors.required">Origin Account is required.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Destination Account" formControlName="to_account">
            <div *ngIf="fudTransferFormControls.to_account.touched && fudTransferFormControls.to_account.invalid" class="alert alert-danger">
              <div *ngIf="fudTransferFormControls.to_account.errors.required">Destination Account is required.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Amount" formControlName="amount">
            <div *ngIf="fudTransferFormControls.amount.touched && fudTransferFormControls.amount.invalid" class="alert alert-danger">
              <div *ngIf="fudTransferFormControls.amount.errors.required">Amount is required.</div>
              <div *ngIf="fudTransferFormControls.amount.errors.pattern">Enter only number.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <textarea name="" class="form-control" id="" cols="5" rows="5" placeholder="Comment" formControlName="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <button class="btn btn-primary w-100" [disabled]="fundTransferFrom.invalid" >Confirm</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>