<div class="container">
  <div class="form-layout">
    <!-- Page Header -->
    <div class="form-header text-center">
      <h2>Transfer Funds</h2>
    </div>
    <!-- Fund transfer Form -->
    <form action="">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Origin Account">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Destination Account">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Amount">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <textarea name="" class="form-control" id="" cols="5" rows="5" placeholder="Comment"></textarea>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <button class="btn btn-primary w-100">Confirm</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>